<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjtu.warehousemanagebackend.mapper.BuyMapper">
    <!-- 插入购买信息 -->
    <insert id="insertBuy" parameterType="com.bjtu.warehousemanagebackend.entity.Buy">
        INSERT INTO Buy (uId, gId, purchase)
        VALUES (#{uId}, #{gId}, #{purchase})
    </insert>

    <!-- 获取指定id的购买信息 -->
    <select id="getOrderById" parameterType="java.lang.Long" resultType="com.bjtu.warehousemanagebackend.entity.Buy">
        SELECT * FROM Buy WHERE uId = #{uId}
    </select>

    <!-- 获取所有购买信息 -->
    <select id="getAllBuys" resultType="com.bjtu.warehousemanagebackend.entity.Buy">
        SELECT * FROM Buy
    </select>

</mapper>
